{% load static %}
<head>
    <title>Admin Panel | Dashboard</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/select2.min.min.css' %}">
    <script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'adminpanel/images/logo.jpg' %}" type="image/ico" sizes="16x16">
    <link type="text/css" rel="stylesheet" href="{% static 'adminpanel/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'adminpanel/css/media.css' %}">
    <script src="{% static 'adminpanel/js/delete-script.js' %}"></script>
    <script>
    var protocol = window.location.protocol
    var hostname = window.location.hostname
    var port = window.location.port
    var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/notification-count" + "/"
    fetch(url)
      .then(function (response) {
        return response.json();
      })
      .then(function (myJson) {
        document.querySelector("#count").innerHTML = myJson;
      })
      .catch(function (error) {
        console.log("Error: " + error);
      });
    </script>
</head>

<body>

<div class="Header">
    <div class="Logo">
        <img src="{% static 'adminpanel/images/logo.jpg' %}">
    </div>
    <div class="Navigation">
        {% if user.is_superuser %}
        <div class="header-notifications">
            <a href="{% url 'adminpanel:notification' %}">
                <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
                <span class="badge" id="count"></span>
            </a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="Avater">
            <a href="javascript:void(0);">
                <figure><img src="{% static 'adminpanel/images/profile.jpg' %}"></figure>
                {{user}} </a>
            <ul>
                <li>
                    <figure><img src="{% static 'adminpanel/images/profile.jpg' %}"></figure>
                    <h4> {{user}} <span>Administrator</span></h4>
                </li>
                <li><a href="{% url 'change_password' %}"><span><i class="fa fa-cog"></i></span> Setting</a></li>
                <li><a href="{% url 'logout' %}"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

<div class="SidenavBar">
    <ul>
        {% if user.is_superuser %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:dashboard' %}active{% endif %}">
            <a href="{% url 'adminpanel:dashboard'  %}">
                <span><i class="fa fa-tachometer"></i></span> Dashboard
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:users-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:users-list' %}">
                <span><i class="fa fa-user"></i></span> User Management
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:category' %}active{% endif %}">
            <a href="{% url 'adminpanel:category' %}">
                <span><i class="fa fa-list"></i></span> Add Category
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:category-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:category-list' %}">
                <span><i class="fa fa-list-alt"></i></span>Category List
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-merchant' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-merchant' %}">
                <span><i class="fa fa-user-plus"></i></span> Add Merchant
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-sub-admin' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-sub-admin' %}">
                <span><i class="fa fa-user-plus"></i></span> Add Sub Admin
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-branch' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-branch' %}">
                <span><i class="fa fa-building-o"></i></span> Add Branch
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:branch-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:branch-list' %}">
                <span><i class="fa fa-building"></i></span>Branch List
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:banner-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:banner-list' %}">
                <span><i class="fa fa-image"></i></span>Banner List
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:sub-admin-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:sub-admin-list' %}">
                <span><i class="fa fa-users"></i></span>Sub Admin Management
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:merchant-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:merchant-list' %}">
                <span><i class="faImg"><img src="{% static 'adminpanel/images/profession.svg' %}" alt="paid"
                                            class="img-fluid"></i></span>
                <p>Merchant Management</p>
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:receipt-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:receipt-list' %}">
                <span><i class="faImg"><img src="{% static 'adminpanel/images/transaction.svg' %}" alt="paid"
                                            class="img-fluid"></i></span>
                <p>Receipts Management</p>
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:reports' %}active{% endif %}">
            <a href="{% url 'adminpanel:reports' %}">
                <span><i class="fa fa-flag-o"></i></span>
                <p>Reports Management </p>
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:send-notification' %}active{% endif %}">
            <a href="{% url 'adminpanel:send-notification' %}">
                <span><i class="fa fa-bell"></i></span>
                <p>Push Notification</p>
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:static-content' %}active{% endif %}">
            <a href="{% url 'adminpanel:static-content' %}">
                <span><i class="fa fa-font"></i></span>
                <p>Static content Management</p>
            </a>
        </li>
        <!--        <li>-->
        <!--            <a href="paid-management.html">-->
        <!--                <span><i class="faImg"><img src="{% static 'adminpanel/images/paid.svg' %}" alt="paid"-->
        <!--                                            class="img-fluid"></i></span>-->
        <!--                <p>Profiles Management</p>-->
        <!--            </a>-->
        <!--        </li>-->
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'logout' %}active{% endif %}">
            <a href="{% url 'logout' %}">
                <span><i class="fa fa-sign-out"></i></span>
                <p>Logout</p>
            </a>
        </li>
        {% else %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:dashboard' %}active{% endif %}">
            <a href="{% url 'adminpanel:dashboard'  %}">
                <span><i class="fa fa-tachometer"></i></span> Dashboard
            </a>
        </li>
        {% if user.is_authenticated and user.is_subadmin and user.can_manage_dashboard and user.can_manage_merchant and user.can_manage_category and user.can_manage_branch and user.can_manage_receipts %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:category' %}active{% endif %}">
            <a href="{% url 'adminpanel:category' %}">
                <span><i class="fa fa-list"></i></span> Add Category
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:category-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:category-list' %}">
                <span><i class="fa fa-list-alt"></i></span>Category List
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-merchant' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-merchant' %}">
                <span><i class="fa fa-user-plus"></i></span> Add Merchant
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:merchant-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:merchant-list' %}">
                <span><i class="faImg"><img src="{% static 'adminpanel/images/profession.svg' %}" alt="paid"
                                            class="img-fluid"></i></span>
                <p>Merchant Management</p>
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:receipt-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:receipt-list' %}">
                <span><i class="faImg"><img src="{% static 'adminpanel/images/transaction.svg' %}" alt="paid"
                                            class="img-fluid"></i></span>
                <p>Receipts Management</p>
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-branch' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-branch' %}">
                <span><i class="fa fa-building-o"></i></span> Add Branch
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:branch-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:branch-list' %}">
                <span><i class="fa fa-building"></i></span>Branch List
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.is_subadmin and user.can_manage_merchant %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-merchant' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-merchant' %}">
                <span><i class="fa fa-user-plus"></i></span> Add Merchant
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:merchant-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:merchant-list' %}">
                <span><i class="faImg"><img src="{% static 'adminpanel/images/profession.svg' %}" alt="paid"
                                            class="img-fluid"></i></span>
                <p>Merchant Management</p>
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.is_subadmin and user.can_manage_category %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:category' %}active{% endif %}">
            <a href="{% url 'adminpanel:category' %}">
                <span><i class="fa fa-list"></i></span> Add Category
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:category-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:category-list' %}">
                <span><i class="fa fa-list-alt"></i></span>Category List
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.is_subadmin and user.can_manage_branch %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:add-branch' %}active{% endif %}">
            <a href="{% url 'adminpanel:add-branch' %}">
                <span><i class="fa fa-building-o"></i></span> Add Branch
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:branch-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:branch-list' %}">
                <span><i class="fa fa-building"></i></span>Branch List
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.is_subadmin and user.can_manage_receipts %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:receipt-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:receipt-list' %}">
                <span><i class="faImg"><img src="{% static 'adminpanel/images/transaction.svg' %}" alt="paid"
                                            class="img-fluid"></i></span>
                <p>Receipts Management</p>
            </a>
        </li>
        {% endif %}
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'logout' %}active{% endif %}">
            <a href="{% url 'logout' %}">
                <span><i class="fa fa-sign-out"></i></span>
                <p>Logout</p>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% block body %}

{% endblock body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
            $('.select2').select2();


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'adminpanel/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminpanel/js/app.js' %}"></script>

</body>

</html>