{% extends 'base-ereceipt.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script>
    var protocol = window.location.protocol
    var hostname = window.location.hostname
    var port = window.location.port
    var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/get-notification-setting" + "/"
    var delay = 0
    $.ajax({
        url: url,
        method: 'GET',
        success(response) {
            setTimeout(function(){
            if (response == 1) {
                $("#settings").prop("checked", true);
                $("#view-control").css('display','inline');
            }
            else {
                $("#settings").prop("checked", false);
                $("#view-control").css('display','inline');
            }
            },delay)
        },
        error() {
            console.log("Some error occurrred")
        }
    });
<!--    fetch(url)-->
<!--      .then(function (response) {-->
<!--        return response.json();-->
<!--      })-->
<!--      .then(function (myJson) {-->
<!--        if (myJson===1){-->
<!--        $("#settings").prop("checked", true);-->
<!--        }-->
<!--        else{-->
<!--        $("#settings").prop("checked", false);-->
<!--        }-->
<!--        console.log(myJson)-->
<!--      })-->
<!--      .catch(function (error) {-->
<!--        console.log("Error: " + error);-->
<!--      });-->


</script>
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="PasswordArea">
                <div class="row">
                    <div class="col-sm-7">
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <h4 class="Title">Change password</h4>
                            <div class="form-group">
                                <label>Enter old password</label>
                                <input type="password" name="old_password" class="form-control"
                                       placeholder="xxxxxxxxxx">
                            </div>
                            <div class="form-group">
                                <label>New password</label>
                                <input type="password" name="new_password1" class="form-control"
                                       placeholder="xxxxxxxxxx">
                            </div>
                            <div class="form-group">
                                <label>Re-enter New password</label>
                                <input type="password" name="new_password2" class="form-control"
                                       placeholder="xxxxxxxxxx">
                            </div>
                            <button type="submit" class="Button apply_btn">Submit</button>
                        </form>
                    </div>
                    <div class="col-sm-5">
                        <h4 class="Title">
                            <span>Notifications</span>
                            <div id="view-control" style="display:none;">
                                <label class="switch">
                                    <input type="checkbox" id="settings" name="notification" onchange="myFunction()">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </h4>
                        <!--                        <div>-->
                        <!--                            <h4 class="Title">-->
                        <!--                                <span>Notifications</span>-->

                        <!--                                <label class="switch">-->
                        <!--                                    <input type="checkbox" id="settings" name="notification" onchange="myFunction()">-->
                        <!--                                    <span class="slider"></span>-->
                        <!--                                </label>-->
                        <!--                            </h4>-->

                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function myFunction() {
    var x = document.getElementById("settings").checked;
    console.log(x)
    var protocol = window.location.protocol
    var hostname = window.location.hostname
    var port = window.location.port
    var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/notification-setting" + "/"+"?notification="+x
<!--    window.location.href = url-->
    $.ajax({
        type: 'GET',
        url: url,
        dataType: 'json',
    });
}


</script>
{% endblock %}