{% extends 'base-ereceipt.html' %}
{% block body%}
<div class="WrapperArea">
    <div class="WrapperBox">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="Small-Wrapper Small-Wrapper2">
            <h4 class="Title">Content Management</h4>
            <div class="HelpArea">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tnc">Terms and Condition</a></li>
                    <li><a data-toggle="tab" href="#Contact">Contact US</a></li>
                    <li><a data-toggle="tab" href="#policy">Privacy Policy</a></li>
                    <li><a data-toggle="tab" href="#about">About Us</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tnc" class="tab-pane fade in active">
                        <div class="HelpContent">
                            <h3>Terms and Condition </h3>
                            {% for object in term_condition %}
                            <p>{{object.conditions|safe}}</p>
                            <a class="Edit editMainBtn"
                               href="{% url 'adminpanel:update-terms-and-condition' object.id%}">Edit</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="Contact" class="tab-pane fade">
                        <div class="HelpContent">
                            {% for object in contactus %}
                            <h3>Contact us</h3>
                            <p><strong>{{object.phone_number}}</strong></p>
                            <p><strong>{{object.email}}</strong></p>
                            <a class="Edit editMainBtn"
                               href="{% url 'adminpanel:update-contact-us' object.id%}">Edit</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!--                    <div id="FAQs" class="tab-pane fade ">-->
                    <!--                        <div class="HelpContent">-->
                    <!--&lt;!&ndash;                            <a class="Edit" href="#">Add question</a>&ndash;&gt;-->
                    <!--                            <h3>FAQ's</h3>-->
                    <!--                            {% for object in faq %}-->
                    <!--                            <p>{{object.question|safe}}</p>-->
                    <!--                            <p>{{object.answer|safe}}</p>-->
                    <!--                            <a class="fa fa-edit" href="{% url 'adminpanel:update-faq' object.id %}">Edit</a>-->
                    <!--                            {% endfor %}-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div id="policy" class="tab-pane fade">
                        <div class="HelpContent">
                            <h3>Policy</h3>
                            {% for object in privacypolicy %}
                            <p>{{object.policy|safe}}</p>
                            <a class="Edit editMainBtn" href="{% url 'adminpanel:update-privacy-policy' object.id %}">Edit</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="about" class="tab-pane fade">
                        <div class="HelpContent">
                            <h3>About Us</h3>
                            {% for object in aboutus %}
                            <p>{{object.content|safe}}</p>
                            <a class="Edit editMainBtn" href="{% url 'adminpanel:update-about-us' object.id %}">Edit</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ModalBox">
    <div id="DeleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Delete</h3>
                        <p>Are you sure you want to delete this FAQ ?</p>
                        <div id="object_id_placeholder_div">
                            <input hidden="true" id="object_id_placeholder_input" value="">
                        </div>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal" style="color:blue;">no</a>
                            <button id="modal_delete_button" data-dismiss="modal" style="border:none;box-shadow:none;
                                                                                background:transparent;outline:0;color:blue;margin-left:10px;">
                                Yes
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<script>
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');
        CKEDITOR.replace('editor3');
        CKEDITOR.replace('editor4');
        CKEDITOR.replace('editor5');



</script>
<script>
$(document).ready(function () {
    $('.deleteButton').click(function (e) {
        console.log('clicked deleteButton')
        e.preventDefault();
//        $('.modal').addClass('show');
        var value = $(this).val();
        console.log("value",value)
        $("#object_id_placeholder_div").html(`<input hidden="true" id="object_id_placeholder_input" value="` + value + `">`)
    });
    $('.CloseModal').click(function (e) {
        e.preventDefault();
//        $('.modal').removeClass('show');
    });

    $("#modal_delete_button").click(function () {
        var object_id = $("#object_id_placeholder_input").val();
        console.log('Id ',object_id)
        var protocol = window.location.protocol
        var hostname = window.location.hostname
        var port = window.location.port
        var url = protocol + "//" + hostname + ":" + port + "/adminpanel" + "/delete-faq" + "/" + object_id + "/"
        window.location.href = url
    });
});



</script>
{% endblock body %}