{% extends 'base-ereceipt.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="Small-Wrapper">
            <div class="SearchBox">
                <form action="" method="get">
                    <!--                    {% csrf_token %}-->
                    <input type="text" name="qs" placeholder="Filter by receipt id/category/user email/merchant email"
                           style="font-size:10x;">
                    <button>Filter</button>
                </form>
            </div>
            <div class="PasswordArea">
                <div class="row">
                    <h4 class="Title">Receipt Management</h4>
                    {% if search %}
                    <div class="TableList">
                        <div class="dragscroll">
                            <table style="width: 150vw">
                                <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Receipt ID</th>
                                    <th>Merchant</th>
                                    <th>Category</th>
                                    <th>Merchant Email id</th>
                                    <th>User Email id</th>
                                    <th>User Phone number</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Ordered From</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in search %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{object.id}}</td>
                                    <td>{{object.merchant.full_name}}</td>
                                    <td>{{object.merchant.category.category_name}}</td>
                                    <td>{{object.merchant.email}}</td>
                                    <td>{{object.user.email}}</td>
                                    <td>{{object.user.phone_number}}</td>
                                    <td>{{object.created_at}}</td>
                                    <td>
                                        <a class="Blue" href="{% url 'adminpanel:receipt-detail' object.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a>
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </td>
                                    <td>{{object.order_created_from}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <div class="TableList">
                        <div class="dragscroll">
                            <table style="width: 150vw">
                                <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Receipt ID</th>
                                    <th>Merchant</th>
                                    <th>Category</th>
                                    <th>Merchant Email id</th>
                                    <th>User Email id</th>
                                    <th>User Phone number</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Ordered From</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for object in receipts %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{object.id}}</td>
                                    <td>{{object.merchant.full_name}}</td>
                                    <td>{{object.merchant.category.category_name}}</td>
                                    <td>{{object.merchant.email}}</td>
                                    <td>{{object.user.email}}</td>
                                    <td>{{object.user.phone_number}}</td>
                                    <td>{{object.created_at}}</td>
                                    <td>
                                        <a class="Blue" href="{% url 'adminpanel:receipt-detail' object.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button data-toggle="modal" value="{{object.id}}" data-target="#myModal"
                                                class="buttonDemo">
                                            <i class="fa fa-eye-slash "></i>
                                        </button>
                                    </td>
                                    <td>{{object.order_created_from}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ModalBox">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Hide User</h3>
                        <p>Are you sure you want to hide/unhide this user ?</p>
                        <div id="object_id_placeholder_div">
                            <input hidden="true" id="object_id_placeholder_input" value="">
                        </div>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal" style="color:blue;">no</a>
                            <button id="acceptButton" data-dismiss="modal" style="border:none;box-shadow:none;
                                                                                background:transparent;outline:0;color:blue;margin-left:10px;">
                                Yes
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div class="modal fade" id="myModal" role="dialog">-->
    <!--    <div class="modal-dialog">-->
    <!--        &lt;!&ndash; Modal content&ndash;&gt;-->
    <!--        <div class="modal-content">-->
    <!--            <div class="modal-header">-->
    <!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
    <!--                <h4 class="modal-title">Hide User</h4>-->
    <!--            </div>-->
    <!--            <div class="modal-body">-->
    <!--                <div class="form-group">-->
    <!--                    &lt;!&ndash;                    <label for="">Merchant</label>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                    <select id="id_category" name="merchant">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        {% for object in merchants %}&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        <option value="{{object.id}}">{{object.email}}</option>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        {% endfor %}&ndash;&gt;-->
    <!--                    &lt;!&ndash;                    </select>&ndash;&gt;-->
    <!--                    <p>Are you sure you want to hide this user?</p>-->
    <!--                    <div id="object_id_placeholder_div">-->
    <!--                        <input hidden="true" id="object_id_placeholder_input" value="">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash;            <div class="modal-footer">&ndash;&gt;-->
    <!--            <a href="JavaScript:Void(0);" data-dismiss="modal" style="color:blue;">no</a>-->
    <!--            <button type="button" id="acceptButton" class="btn btn-default" data-dismiss="modal" style="border:none;box-shadow:none;-->
    <!--                                               background:transparent;outline:0;color:blue;margin-left:10px;">-->
    <!--                Yes-->
    <!--            </button>-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
    <!--        </div>-->

    <!--    </div>-->
    <!--</div>-->
    <script>
    $(document).ready(function () {
    $('.buttonDemo').click(function (e) {
        console.log('clicked tick Button')
        e.preventDefault();
//      $('.modal').addClass('show');
        var value = $(this).val();
        console.log("value",value)
        $("#object_id_placeholder_div").html(`<input hidden="true" id="object_id_placeholder_input" value="` + value + `">`)
    });
    $('.CloseModal').click(function (e) {
        e.preventDefault();
//        $('.modal').removeClass('show');
    });

    $("#acceptButton").click(function () {
        var object_id = $("#object_id_placeholder_input").val();
        console.log('Id ',object_id)
        var protocol = window.location.protocol
        var hostname = window.location.hostname
        var port = window.location.port
        var url = protocol + "//" + hostname + ":" + port + "/adminpanel/hide-user/"  + object_id + "/"
        window.location.href = url
    });
});





    </script>
    {% endblock body%}