{% extends 'base-ereceipt.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="Small-Wrapper">
            <div class="SearchBox">
                <form action="" method="get">
                    <!--                    {% csrf_token %}-->
                    <input type="text" name="qs" placeholder="Filter by receipt id/category/user email/merchant email"
                           style="font-size:10x;">
                    <button>Filter</button>
                </form>
            </div>
            <div class="PasswordArea">
                <div class="row">
                    <h4 class="Title">Receipt Management</h4>
                    {% if search %}
                    <div class="TableList">
                        <div class="dragscroll">
                            <table style="width: 150vw">
                                <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Receipt ID</th>
                                    <th>Merchant</th>
                                    <th>Category</th>
                                    <th>Merchant Email id</th>
                                    <th>User Email id</th>
                                    <th>Date</th>
                                    <th>action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in search %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{object.id}}</td>
                                    <td>{{object.merchant.full_name}}</td>
                                    <td>{{object.merchant.category.category_name}}</td>
                                    <td>{{object.merchant.email}}</td>
                                    <td>{{object.user.email}}</td>
                                    <td>{{object.created_at}}</td>
                                    <td>
                                        <a class="Blue" href="{% url 'adminpanel:receipt-detail' object.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a>
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <div class="TableList">
                        <div class="dragscroll">
                            <table style="width: 150vw">
                                <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Receipt ID</th>
                                    <th>Merchant</th>
                                    <th>Category</th>
                                    <th>Merchant Email id</th>
                                    <th>User Email id</th>
                                    <th>Date</th>
                                    <th>action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in receipts %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{object.id}}</td>
                                    <td>{{object.merchant.full_name}}</td>
                                    <td>{{object.merchant.category.category_name}}</td>
                                    <td>{{object.merchant.email}}</td>
                                    <td>{{object.user.email}}</td>
                                    <td>{{object.created_at}}</td>
                                    <td>
                                        <a class="Blue" href="{% url 'adminpanel:receipt-detail' object.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button data-toggle="modal" value="{{object.id}}" data-target="#myModal"
                                                class="buttonDemo">
                                            <i class="fa fa-eye-slash "></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Merchants</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Merchant</label>
                    <select id="id_category" name="merchant">
                        {% for object in merchants %}
                        <option value="{{object.id}}">{{object.email}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>

{% endblock body%}