{% extends 'base-merchant.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="enterKey">
                <h4 class="Title">API Integration Tutorial</h4>
            </div>
            <div class="videoShow">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GZvSYJDk-us" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock body %}