{% extends 'base-merchant.html' %}
{% block body %}
<!-- partial -->

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <h4 class="Title" style="text-align: center; padding-bottom: 20px;">Branch Performance</h4>
            <div class="DashboardArea">
                <div id="container" style="width: 75%;">
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ context.data|safe }},
          backgroundColor: [
                "#FF6384",
                "#63FF84",
                "#84FF63",
                "#8463FF",
                "#6384FF"
          ],
          label: 'Population'
        }],
        labels: {{ context.labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };



</script>
<!--<script>-->

<!--var oilCanvas = document.getElementById("oilChart");-->
<!--Chart.defaults.global.defaultFontFamily = "Lato";-->
<!--Chart.defaults.global.defaultFontSize = 18;-->

<!--var oilData = {-->
<!--    labels: [-->
<!--        "Meerut",-->
<!--        "Noida",-->
<!--        "Mirzapur",-->
<!--        "Gzb",-->
<!--        "Lucknow"-->
<!--    ],-->
<!--    datasets: [-->
<!--        {-->
<!--            data: [133.3, 86.2, 52.2, 51.2, 50.2],-->
<!--            backgroundColor: [-->
<!--                "#FF6384",-->
<!--                "#63FF84",-->
<!--                "#84FF63",-->
<!--                "#8463FF",-->
<!--                "#6384FF"-->
<!--            ]-->
<!--        }]-->
<!--};-->
<!--var pieChart = new Chart(oilCanvas, {-->
<!--  type: 'pie',-->
<!--  data: oilData-->
<!--});-->


<!--</script>-->
{% endblock body %}